#header {
    min-height: 105px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 999;

    .header-menubar {
        
        li {
            :hover {
                color: $yellow;
            }
    
            a {
                font-weight: 700;
                font-size: 15.5px;
                padding: 17px;

                svg {
                    font-size: 10px;
                }

                @media screen and (max-width: 1200px) {
                    padding: 12px;
                }
            }
        }

        .pages {

            &:hover {
        
                .mini-pages {
                  top: 85%;
                  opacity: 1;
                  visibility: visible;
                }
            }
        }

        .mini-pages {
            position: absolute;
            top: 150%;
            opacity: 0;
            visibility: hidden;
            border-top: solid 3px $yellow;
            padding: 20px 30px;
            color: $black;
            background-color: $white;
            width: 200px;
            z-index: 99;
            transition: all .4s;

            h5 {
                font-size: 12px;
                text-transform: uppercase;
                color: #999;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 2.4px;
            }

            li {
                height: 34px;

                a {
                    font-weight: 400;
                    font-size: 14px;
                    padding: 0;
                }

                &:hover {
                    a {
                        transform: translateX(13px);
                        transition: transform .2s linear;
                    }
                }
            }
        }

        .bar-btn {
            display: none;
            cursor: pointer;

            svg {
                font-size: 23px;
            }
        }
    }

    .header-icon {
        .title-call {
            font-size: 13px;
            color: #00a149;
            font-weight: 700;
            line-height: 20px;

            .address {
                display: inline;
                color: $black           
            }
        }

        .des-call {
            font-size: 24px;
            line-height: 24px;
            color: $yellow;
            font-family: fantasy;
        }

        .header-signin {
            position: relative;
    
            &:hover {
                .login {
                  background-color: $yellow;
                }
            
                .mini-acount {
                  top: 100%;
                  opacity: 1;
                  visibility: visible;
                }
            }
    
            .mini-acount {
                width: 10rem;
                z-index: 999;
                background-color: $white;
                color: #666;
                padding: 1rem;
                position: absolute;
                font-size: 1.3rem;
                top: 150%;
                right: 0;
                border: 0.1rem solid #eaeaea;
                visibility: hidden;
                opacity: 0;
                transition: all .4s;
    
                p {
                    margin: 0;
                    a {
                        color: #666;
                        display: inline-block;
                        width: 100%;
                        padding: 0.5rem;
                        font-size: 13px;
                        font-family: var(--g-font-1);
                        text-align: left;
                    }
    
                    &:hover {
                        background-color: $yellow;
                    }
                }
            }
        }
    
    
        .header-cart {
            position: relative;
            
            &:hover {
                .cart {
                  background-color: $yellow;
                }
            
                .mini-cart {
                  top: 10%;
                  opacity: 1;
                  visibility: visible;
                }
            }
    
            .cart-count-bubble {
                line-height: 13px;
                font-size: 10px;
                padding: 0 5px;
                text-align: center;
                border-radius: 10px;
                color: $black;               
                display: inline-block;
                position: absolute;
                bottom: 50%;
                left: 59%;
                font-weight: 700;
                background-color: $yellow;
            }
    
            .mini-cart {
                position: absolute;
                border-top: 0.3rem solid $black;
                top: 90%;
                right: 0;
                color: #666;
                width: 22rem;
                background: $white;
                padding: 2rem 1rem 0;
                z-index: 999;
                visibility: hidden;
                opacity: 0;
                margin-top: 3rem;
                transition: all .4s;
    
                .minicart-item {
                    padding-bottom: 10px;
    
                    img {
                        width: 85px;
                        padding-right: 10px;
                    }
    
                    .price {
                        span {
                            color: #29aba4;
                        }
                    }
        
                    .quantity {
                        display: flex;
                        
                        button {
                            background: $white;
                            border: 1px solid #cacaca;
                            width: 35px;
                        }
        
                        input {
                            width: 35px;
                            padding: 0 13px;
                            border: 1px solid #cacaca;
                            border-left-width: 0;
                            border-right-width: 0;
                        }
                        input:focus {
                            outline: none;
                        }
                    }
    
                    .trash {
                        
                        &:hover {
                            svg {
                                color: $black;                          
                            }
                        }
                    }
    
                    svg {
                        color: #a8a8a8;
                        font-size: 15px;
                    }
                }
    
                .totals {
                    padding: 1rem 0 1.5rem;
                    font-size: 15px;
                    text-align: center;
                }
    
                .button-minicart {
    
                    .gotocart-btn {
                        a {
                            background-color: $black;
                            color: $white;
                        }
                    }
                    .checkout-btn {
                        a {
                            border: 1px solid $black                       
                        }
                    }
                    
                    a {
                        padding: 1rem 1.5rem;
                        display: inline-block;
                        width: 100%;
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                }
            }
        }
    
        .header-order {
            margin-left: 15px;
    
            :hover {
                color: $white;
            }
    
            a {
                font-size: 17px;
                line-height: 20px;
                padding: 16px 32px;
                background-color: $yellow;
                border-radius: 8px;
                font-family: fantasy;
                display: block;
                width: max-content;
            }
        }
    }

    //Navbar mobile
    .navbar {
        .user-mobile {
            h5 {
                font-family: inherit;
                color: #676767;
                font-size: 16px;
                padding: 0 10px;
                margin: 0;
            }
            a {
                text-decoration: underline;
                svg {
                    color: $green;
                }
            }
        }

        .navbar-mobile {

            &>ul {
                &>li {
                    background: #e8e8e8aa;
                    padding: 12px;
                    border-radius: 6px;
                    margin: 15px 0;
                    color: #484848;
        
                    a {
                        transition: all .2s linear;

                        svg {
                            color: #484848;
                        }
                    }
                    &:hover {
                        a {
                            color: $yellow;
                            transform: translateX(20px);
                        }
                    }
                }

                .pages-mobile {
                    background: rgba(243, 243, 243, 0.667);
                    border-radius: 6px;
                    margin: 15px 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
    
                    li {
                        padding: 10px 0 !important; 
                        a {
                            transition: all .2s linear;
                            svg {
                                color: #484848;
                            }
                        }
    
                        &:hover {
                            a {
                                color: $yellow;
                                transform: translateX(20px);
                            }
                        }
                    }
                }
            }
    
            .accordion-item{
                 border: none;
                 background-color: #fafafa;

                svg {
                    color: #484848 !important;
                }
            }
    
            .accordion-header {
                padding: 13px;
                background: #e8e8e8aa;
                border-radius: 4px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .header-logo {
            order: 1;
        }
        .header-menubar {
            order: 0;

            .bar-btn {
                display: block;
            }
            
            ul {
                display: none !important;
            }
        }
        .header-icon {
            order: 2;
        }
    }

    .button {
        margin-right: 0;
        padding: 0;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        line-height: 48px;
        vertical-align: middle;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .shadow-none {
        box-shadow: none;
    }

    .active {
        color: $yellow;
    }
}
