
#contact {

    .contact{

        .field {
            margin: 0 5px;
        }

        button {
            margin: 10px;
            background-color: $black;
            color: $white;
            padding: 10px 33px;
            border: none;
        }

        span {
            font-weight: 700;
            font-size: 17px;
        }

        input, textarea {
            margin: 6px;
        }

        p {
            padding: 0 10px;
            font-size: 17px;
        }
    }
}